.customModal {
  padding: 0;
  border: 1px solid var(--border-base);

  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--border-base);
    margin-bottom: .8rem;


    .title {
      flex: 1;
      padding: 1rem;
      font-size: 1.2rem;
    }

    .close {
      padding: .8rem;
      color: var(--font-base);

      &:hover {
        background-color: var(--bg-base);
        border-color: var(--border-primary);
        color: var(--font-danger)
      }
    }
  }

  .content {
    padding: .8rem;
  }

  dialog:not([open]) {
    display: none;
  }

}