.circularSlider {

  --arc-width: 4px;
  --arc-slider-color: #efefef;
  --arc-options-color: #eee;

  --content-opacity: 1;
  --counter-opacity: 0;

  --counter-background: white;
  --counter-animationDelay: 0ms;

  &:hover {
    --arc-slider-color: #bbb;
  }

  &.active {
    --counter-animationDelay: 600ms;
    --arc-slider-color: #1677ff;
    --content-opacity: 0;
    --counter-opacity: 1;
  }


  &.done {
    --counter-background: #b7eb8f;
  }


  position : relative;

  touch-action : none;
  border-radius: 50%;
  background : var(--counter-background, white);
  margin : 0;
  padding : 0;
  transition : background 200ms ease-in-out;

  display : grid;
  justify-content: center;
  align-content : center;

  .arc {

    position: absolute;
    top: calc(-1*var(--arc-width));
    left: calc(-1*var(--arc-width));
    right: calc(-1*var(--arc-width));
    bottom: calc(-1*var(--arc-width));
    border-radius: 50%;
    border-width: var(--arc-width);
    border-style: solid;
    border-color: var(--arc-slider-color);
    border-bottom-color: var(--arc-options-color);
    transform: rotate(45deg);
    transition: border 600ms ease-in-out;
  }

  .options {
    >button {
      position: absolute;
      animation: fadeInOption 400ms;
      background: white;
      border-width: calc(var(--arc-width)/2);
      border-style: solid;
      border-color: var(--arc-options-color);
      border-radius: 50%;
      cursor: pointer;
      transition: all 30ms ease-in-out, left 600ms ease-in-out, bottom 600ms ease-in-out;
      display: grid;
      place-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      transform: scale(1);

      &:active:not(:disabled) {
        background: #1677ff;
        color: white;
        transform: scale(0.9);
      }
    }
  }

  .point {
    position: absolute;
    z-index: 2;
    background: white;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border-width: calc(var(--arc-width)/2);
    border-style: solid;
    border-color: var(--arc-slider-color);
    transition: all 60ms ease-in-out;

    display: grid;
    justify-content: center;
    align-content: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    transform: scale(1);

    &:active {
      background: #1677ff;
      color: white;
      transform: scale(0.75);
    }



  }

  .content {
    display: grid;
    place-items: center;
    grid-template-areas: "stack";

    >* {
      grid-area: stack;
    }

    .value {
      opacity: var(--counter-opacity);
      transition: opacity 200ms linear;
      transition-delay: var(--counter-animationDelay);
    }

    .children {
      opacity: var(--content-opacity);
      transition: opacity 200ms linear;
      transition-delay: var(--counter-animationDelay);

      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      display: block;
      white-space: nowrap;

      * {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        display: block;
        white-space: nowrap;
      }
    }
  }

}

@keyframes fadeInOption {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}