#shortcuts {

  container-type: inline-size;


  touch-action: none;

  overflow: visible;
  z-index: 2;
  display: flex;
  gap: .4rem;
  padding-top: 1rem;
  flex-direction: column;


  min-height: 100vh;
  min-height: 100dvh;

  &.left {
    align-items: flex-end;
  }

  &.right {
    align-items: flex-start;

  }

  .button {
    text-decoration: none;
    position: relative;
    overflow: visible;
    display: flex;

    * {
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */

    }

    .text {
      background-color: var(--bg-base);
      height: 100%;
      text-wrap: nowrap;
      overflow: clip;
      display: flex;
      align-items: center;
      padding: 1rem;
      border: 1px solid var(--border-base);
      transition: none;

      &:hover {
        background-color: var(--bg-hero);
      }
    }

    .icon {
      display: none;
      transition: none;
      background-color: var(--bg-base);
    }

    &:where(.left) {
      .text {
        border-radius: 1rem 0 0 1rem;
      }
    }
    &:where(.right) {
      .text {
        border-radius: 0 1rem 1rem 0;
      }
    }

    @container (max-width: 250px) {

      .icon {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        padding: 1rem;
        transition: all 300ms ease-in;
        border: 1px solid var(--border-base);
      }

      .text {
        position: absolute;
        max-width: 3px;
        padding: 0;
        border-radius: 0;
        transition: all 300ms ease-in;
        transition-delay: 180ms;
        border-top: 1px solid var(--border-base);
        border-bottom: 1px solid var(--border-base);
        border-radius: 1px;
      }

      &.left {
        .icon {
          border-radius: .5rem 0 0 .5rem;
          border: 1px solid var(--border-base);
          border-right-width: 0;
        }

        .text {
          left: 100%;
          border-right: 3px double var(--border-base);
          border-left: 0;
        }

      }

      &.right {
        .icon {
          border-radius: 0 .5rem .5rem 0;
          border: 1px solid var(--border-base);
          border-left-width: 0;
        }

        .text {
          right: 100%;
          border-left: 3px double var(--border-base);
          border-right: 0;
        }
      }

      @media(hover: hover) {
        &:hover {
          .text {
            max-width: 20rem;
            padding: 0 1rem;
            background-color: var(--bg-hero)
          }

          .icon {
            background-color: var(--bg-hero)
          }
        }
      }

      @media(hover: none) {
        &.hover {
          .text {
            max-width: 20rem;
            padding: 0 1rem;
            background-color: var(--bg-hero)
          }

          .icon {
            background-color: var(--bg-hero)
          }

        }
      }
    }

  }
}