@import './reset.css';
@import './App.css';

@import './components/side/styles.css';

@font-face {
  font-family: 'Regular';
  src: local('Roboto'), url('./assets/Roboto-Regular.ttf') format('truetype')
}

:root {

  --bg-base: #efefef;
  --bg-hero: rgb(179, 255, 191);

  --border-base: #ababab;
  --border-primary: #2f4;

  --font-base: #444;



}

:root {
  font-family: "Roboto", sans-serif;

  background-size: 40px 40px;
  background-color: var(--bg-base);
  background-image:
    linear-gradient(to right, var(--border-base) 1px, transparent 1px),
    linear-gradient(to bottom, var(--border-base) 1px, transparent 1px);

}