@import './App.css';


:root {
  font-family: "Roboto";

  background-size: 40px 40px;
  background-color: var(--bg-base);
  background-image:
    linear-gradient(to right, var(--border-base) 1px, transparent 1px),
    linear-gradient(to bottom, var(--border-base) 1px, transparent 1px);

}
